<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>column</th>
      <th>mean</th>
      <th>median</th>
      <th>std</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>lastmonth_activity</td>
      <td>5625.923077</td>
      <td>425.0</td>
      <td>19444.774621</td>
    </tr>
    <tr>
      <th>1</th>
      <td>lastyear_activity</td>
      <td>763.538462</td>
      <td>97.5</td>
      <td>2016.609357</td>
    </tr>
    <tr>
      <th>2</th>
      <td>number_of_employees</td>
      <td>457.461538</td>
      <td>99.0</td>
      <td>800.604833</td>
    </tr>
  </tbody>
</table>