<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>column</th>
      <th>mean</th>
      <th>median</th>
      <th>std</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>lastmonth_activity</td>
      <td>165.653846</td>
      <td>73.0</td>
      <td>284.033229</td>
    </tr>
    <tr>
      <th>1</th>
      <td>lastyear_activity</td>
      <td>1502.923077</td>
      <td>955.0</td>
      <td>2192.644958</td>
    </tr>
    <tr>
      <th>2</th>
      <td>number_of_employees</td>
      <td>26.884615</td>
      <td>14.0</td>
      <td>31.353886</td>
    </tr>
  </tbody>
</table>